/* Referenced Unit1 Resume Lab & https://www.w3schools.com/css/css3_gradients.asp for gradient*/
*{
    background-image: linear-gradient(to top right, #0086d3, #fcffae);
    background-attachment: fixed;
}

/*Centering using flex box*/
h1, #locator, #calculatedLatAndLong, #explanationForMap, #toggleMap, #map, #searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Referenced https://www.w3schools.com/jsref/prop_style_display.asp for display settings*/
#map{
    display: none
}

/*Referenced tic-tac-toe homework, to get a border for the table and cells*/
table, tr, td {
    border: 1px solid rgb(65, 87, 75);}