/* Referenced w3schools & the classwork resume lab for gradient & fixed */
*{
    background-image: linear-gradient(to top right, #0086d3, #fcffae);
    background-attachment: fixed;
}

/*Centering*/
h1, #map, #toggleMap, #locator, #searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*toggle for map display*/
#map{
    display: none
}